@using Essence.Models.ViewModels
@using EPiServer.Web.Mvc.Html
@using Essence.Business.ExtensionMethods
@using EPiServer.Core;
@using Essence

@model PageViewModel<Essence.Models.Pages.StartPage>

<div @Html.EditAttributes(m => m.CurrentPage.MainContentArea)>
    @foreach (var contentItem in Model.CurrentPage.MainContentArea.Items)
    {
        <div class="row">
            @{
                Html.RenderContentData(contentItem.ContentLink.Get<IContent>(), true, SiteTags.Full);
            }
        </div>
    }
</div>
